*{
    margin: 0;
    padding: 0;
}
.image{
    margin: 0 auto;
    height: 200px;
    width: 200px;
    padding-top: 30px;
    display: flex;
}
.infoSection{
   
}
.detailsBody{
    background-image: linear-gradient(to right, rgb(141, 5, 32),rgb(12, 6, 47) );
    color: #fff;
}