.LeagueInfo{
    margin-bottom: 15px;
    text-align: center;
}

.team-info{
    background: #fff;
    margin: 15px;
    height: 230px;
    padding: 15px;
}
.team-info img{
    width: 80px;
    height: 80px;
}