
.banner{
    background-image:url('bg2.jpg') ;
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.overlay{
    height: 200px;
    background-color: rgba(0,0,0,.5);
}